:root {
  --bg-color: #063324;
  --text-color: #fff;
  --accent-color: orange;
  /* text transform */
  --uppercase: uppercase;
  --font: "Roboto", sans-serif;

  /* button */
  --btn-color: orange;
  --btn-radius: 4px;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.block {
  color: var(--text-color);
}

h1 {
  text-transform: var(--uppercase);
}

button {
  color: var(--btn-color);
  padding: 8px 12px;
  background-color: var(--bg-color);
  border-color: var(--accent-color);
  cursor: pointer;
  text-transform: var(--uppercase);
  border-radius: var(--btn-radius);
}
